// ===================================
// assets/scss/components/_portal-stats.scss
// ==================================

/* Component: portal-stats */
.portal-stats {
  display: flex;
  align-items: stretch;
  // justify-content: space-evenly;
  flex-wrap: wrap;
  @include row-gutter( 30px, 'portal-stats__item' );

  // El: item
  &__item {
    // flex-grow: 1;
    flex-basis: 20%;
    min-width: 240px;
    margin-bottom: 30px;
  }
}