// ===================================
// assets/scss/components/_profile-cover.scss
// ==================================

/* Component: Profile-cover */
.profile-cover {
  position: relative;

  // El: bg
  &__bg {
    @include position( $top: 0, $left: 0, $width: 100%, $height: 100% );
    background-color: $secondary;
    border-radius: $border-radius-section;
    overflow: hidden;

    &:before {
      content: '';
      @include position( $top: 0, $left: 0, $width: 100%, $height: 100% );
      @include bg-img-full( 'swiggles.svg', $size: 100% auto, $repeat: repeat );
    }
  }

  // El: bg-img
  &__bg-img {
    @include position( $top: 0, $left: 0, $width: 100%, $height: 100% );
    @include background( $repeat: no-repeat, $position: center center, $size: cover );

    &:before {
      content: '';
      @include position( $bottom: 0, $left: 0, $width: 100%, $height: 80% );
      background-image: linear-gradient(180deg, rgba(#000, 0) 0%, rgba(#000, 0.60) 99%);
    }
  }

  // El: inner
  &__inner {
    min-height: 340px;
    display: flex;
    align-items: flex-end;
    @include padding( 100px 0 0 );
  }

  // Container
  .container-fluid {
    position: relative;
    z-index: 1;
  }

  // El: wrap
  &__wrap {
    color: $white;
    display: flex;
    align-items: flex-start;

    // Responsive: > Medium
    @include bp-large-min {
      width: per-calc( 780px, 1200px );
    }
  }

  // El: image
  &__image {
    width: 241px;
    border: 8px solid $white;
    background-color: $white;
    border-radius: $border-radius-xl;
    @include margin( -71px, 'bottom' );
  }

  // El: image-cont
  &__image-cont {
    height: 0;
    padding-bottom: aspect-ratio( 225px 250px );
    border-radius: $border-radius;
    display: block;
  }

  // El: info
  &__info {
    @include margin( 42px, 'left' );
    @include margin( 18px, 'top' );
    @include padding( 42px, 'bottom' );
  }

  // El: name-cont
  &__name-cont {

  }

  // El: name
  &__name {
    color: $white;
  }

  // El: address
  &__address {

  }

  // El: buttons
  &__buttons {

    .btn {
      min-width: 144px;
      font-size: $font-size-xs;
      text-transform: none;
    }
  }

  // Responsive: < Medium
  @include bp-medium {

    &__bg {
      height: 220px;
    }

    &__name,
    &__wrap {
      color: $body-color;
    }

    &__wrap {
      flex-direction: column;
      text-align: center;
    }

    &__image {
      @include margin( 14px, 'bottom' );
      margin-left: auto;
      margin-right: auto;
    }

    &__info {
      margin-left: 0;
      width: 100%;
      padding-bottom: 0;
    }

    &__name-cont,
    &__address {
      justify-content: center;
    }

    &__buttons {

      .btn-outline-white {
        color: #031c1a !important;
        background-color: transparent;
        border-color: #E7E6E6;
      }

      .btn-white {
        background-color: $secondary;
        color: $white !important;

        @include bs-button-hover {
          background-color: $secondary-hover;
          border-color: $secondary-hover;
          color: $white;
        }
      }
    }
  }
}