// ===================================
// assets/scss/components/_progress.scss
// ==================================

// progress
.progress {

  .progress-bar {
    border-radius: $border-radius;
    position: relative;

    &:after {
      content: '';
      @include position( $top: 0, $left: 100%, $width: 10px, $height: 100% );
      background-color: #fff;
    }
  }
}